@media (max-width: 700px), handheld {
    nav {
        display: flex;
        flex-direction: column;

        ul {
            display: none;
        }

        header {
            justify-content: space-evenly;
            button.hamburguer {
                display: flex;
                border: none;
                background-color: transparent;
                color: #4d2c14;
            }
        }
    }
    main {
        padding: 5px;
    }
    main > header {
        form {
            width: 100%;
            max-width: none;
        }
    }
    main > div.content {
        grid-template-columns: 1fr;
        aside#filters {
            display: none;
        }

        section#rooms {
            width: 100%;
            header {
                flex-direction: column;
                align-items: flex-start;
                div {
                    width: 100%;
                    justify-content: space-between;
                    align-items: start;
                    /* flex-direction: column; */
                    select{
                        width: 100%;
                    }
                }
            }
            div.rooms-list {
                grid-template-columns: 1fr;

                div.room {
                    flex: 1 1 auto;
                }
            }
        }
    }

    main > section#promotions {
        padding: 40px 10px;
        height: auto;
        div.hero {
            display: flex;
            flex-direction: column;
            border-radius: 8px;

            div.text {
                padding: 20px;

                h2 {
                    font-size: 1.8rem;
                }
                p {
                    font-size: 1.2rem;
                }
                li {
                    font-size: 1rem;
                }
                button {
                    width: 100%;
                }
            }

            div.image{
                height: 50svh;
            }
        }
    }

    footer {
        div.section-links {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            div.useful-links {
                flex-direction: column;
                align-items: start;
                gap: 40px;
            }
        }
    }
}
