@media (max-width: 700px), handheld {
    nav {
        display: flex;
        flex-direction: column;

        ul {
            display: none;
        }

        header {
            justify-content: space-evenly;
            button.hamburguer {
                display: flex;
                border: none;
                background-color: transparent;
                color: #4d2c14;
            }
        }
    }
    main {
        padding: 5px;
    }
    main > header {
        form {
            width: 100%;
            max-width: none;
        }
    }
    main > div.content {
        grid-template-columns: 1fr;
        aside#filters {
            display: none;
        }

        section#rooms {
            width: 100%;
            header {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                div {
                    /* flex-direction: column; */
                }
            }
            div.rooms-list {
                grid-template-columns: 1fr;

                div.room {
                    flex: 1 1 auto;
                }
            }
        }
    }

    footer {
        div.section-links {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            div.useful-links {
                flex-direction: column;
                align-items: start;
                gap: 40px;
            }
        }
    }
}
