:root {
    --bg-light: #ffffff;
    --bg-dark: #121212;
    --brand-bg: #f7f1dc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html,
body {
    height: 100%;
    background-color: var(--bg-light);
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    background-color: var(--brand-bg);
    header {
        display: flex;
        gap: 20px;
        align-items: center;
        div {
            width: 100px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
    ul {
        display: flex;
        gap: 40px;
        justify-content: end;
        align-items: center;
        font-size: 1.5rem;

        li {
            > a {
                text-decoration: none;
                color: #4d2c14;
            }
        }
        li.download-app {
            > a {
                display: flex;
                gap: 10px;
                padding: 5px 15px;
                /* background-color: #cbb99b; */
                border-radius: 5px;
                align-items: center;
                border: 1px solid #4D2C14;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.1);
                > svg {
                    stroke-width: 1;
                    height: 48px;
                    width: 48px;
                }
            }
        }
        li.contact{
            > a {
                display: flex;
                gap: 10px;
                padding: 5px 15px;
                /* background-color: #cbb99b; */
                border-radius: 5px;
                align-items: center;
                /* border: 1px solid #4D2C14; */
                /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.1); */
                > svg {
                    stroke-width: 1;
                    height: 48px;
                    width: 48px;
                }
            }
        }
        li.profile {
            > a {
                display: flex;
                gap: 10px;
                padding: 5px 15px;
                /* background-color: #cbb99b; */
                border-radius: 5px;
                align-items: center;
                /* border: 1px solid #4D2C14; */
                /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.1); */
                > svg {
                    stroke-width: 1;
                    height: 48px;
                    width: 48px;
                }
            }
        }
    }
}

main {
    display: grid;
    gap: 20px;
    padding: 20px 40px;
}

main > header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    background-image: url("../assets/turista-que-transporta-bagagem.jpg");
    background-position: center;
    background-size: cover;
    padding: 20px 20px;
    div.welcome-message {
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 5px;
        /* text-align: center; */
        backdrop-filter: blur(5px);
    }
    form {
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
        width: 100%;
        max-width: 40%;
        > input[type="text"] {
            border: none;
            padding: 10px 20px;
            flex: 1 1 auto;
            background: transparent;
        }
        > button {
            border: none;
            background-color: var(--brand-bg);
            padding: 10px 20px;
            cursor: pointer;
            font-size: 1.2rem;
            display: flex;
        }
    }
}

main > div.content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    aside#filters {
        border-right: 1px solid rgba(206, 206, 206, 0.8);
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        fieldset {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            gap: 10px;
            border: none;
            border-bottom: 1px solid rgba(206, 206, 206, 0.8);

            label {
                font-size: 1.2rem;
            }
            input,
            select {
                padding: 5px 10px;
                font-size: 1rem;
                border: 1px solid rgba(206, 206, 206, 0.8);
                border-radius: 5px;
            }
        }
    }
    section#rooms {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            div {
                display: flex;
                gap: 10px;
                align-items: center;
                select {
                    padding: 5px 10px;
                    font-size: 1rem;
                    border: 1px solid rgba(206, 206, 206, 0.8);
                    border-radius: 5px;
                    background-color: white;
                }
            }
        }
        div.rooms-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 20px;

            div.room {
                border: 1px solid rgba(206, 206, 206, 0.8);
                padding: 10px;
                div.images {
                    display: flex;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    scroll-snap-type: x mandatory;
                    /* min-width: 250px; */
                    /* max-width: 350px; */
                    aspect-ratio: 4 / 2;
                    div.image-item {
                        min-width: 100%;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }

                div.room-info{
                    display: flex;
                    justify-content: space-between;

                }
                div.rating {
                    svg {
                        color: gold;
                        height: 16px;
                        width: 16px;
                        fill: gold;
                    }
                }
            }
        }
    }
}

footer {
    display: grid;

    div.section-sponsors {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        background-color: var(--brand-bg);

        span {
            padding: 10px 0;
        }
        div.sponsors-logos {
            display: flex;
            gap: 20px;
            justify-content: space-evenly;
            align-items: center;

            div.sponsor-logo {
                overflow: hidden;
                max-width: 200px;
                /* height: 100%; */
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    div.section-links {
        display: grid;
        grid-template-columns: 4fr 1fr;
        place-content: center;
        padding: 20px 40px;
        background-color: var(--brand-bg);

        > div.useful-links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 40px;
            font-size: 1.2rem;
            a {
                /* text-decoration: none; */
                color: #4d2c14;
            }
        }
        > div.brand {
            overflow: hidden;
            height: 200px;
            width: 200px;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    > div.copyrights {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        padding: 40px;
        background-color: #cbb99b;
    }
}
